<div style="text-align:center;font-size:3em">
  <h1>
    {{title}}!
  </h1>
</div>
<div style="text-align:center">
  <button [ngClass]="{'but-pos':true, 'yellow': selected === 'PST'}" (click)="getTime('PST')">PST</button>
  <button [ngClass]="{'but-pos':true, 'yellow': selected === 'MST'}" (click)="getTime('MST')">MST</button>
  <button [ngClass]="{'but-pos':true, 'yellow': selected === 'CST'}" (click)="getTime('CST')">CST</button>
  <button [ngClass]="{'but-pos':true, 'yellow': selected === 'EST'}" (click)="getTime('EST')">EST</button>
  <button [ngClass]="{'but-pos':true}" (click)="clear()">Clear</button>
</div><br>
<div style="text-align:center">
  <h1 *ngIf='time'>{{ time | date:'jms' }}</h1>
</div>
